[submodule "private"]
	path = modules/private
	url = git@github.com:marjorg/setup-private.git
[submodule "modules/tokyonight"]
	path = modules/tokyonight
	url = https://github.com/Fausto-Korpsvart/Tokyonight-GTK-Theme.git
