.DS_Store
*.log

home/.config/Code/**
!home/.config/Code/User/keybindings.json
!home/.config/Code/User/settings.json

home/.config/tmux/plugins

home/.config/zed/conversations
home/.config/zed/prompts
