---
- name: Create .config directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config"
    state: directory
    mode: "0755"

- name: Check if gtk-3.0 is a symlink
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.config/gtk-3.0"
  register: gtk3_stat

- name: Remove gtk-3.0 if it's not a symlink
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/gtk-3.0"
    state: absent
  when: gtk3_stat.stat.exists and gtk3_stat.stat.isdir and not gtk3_stat.stat.islnk

- name: Find top-level directories in .config
  ansible.builtin.find:
    paths: "{{ playbook_dir }}/.config"
    file_type: directory
    recurse: no
  register: config_dirs

- name: Symlink config directories
  ansible.builtin.file:
    src: "{{ item.path }}"
    dest: "{{ ansible_env.HOME }}/.config/{{ item.path | basename }}"
    state: link
    force: yes
  loop: "{{ config_dirs.files }}"

- name: Symlink root dotfiles
  ansible.builtin.file:
    src: "{{ playbook_dir }}/{{ item }}"
    dest: "{{ ansible_env.HOME }}/{{ item }}"
    state: link
    force: yes
  loop:
    - .gitconfig
    - .zshrc
    - .bashrc
    - .profile
