# Managed by gomplate
# Last updated: {{ (time.Now).Format "2006-01-02 15:04:05" }}

[user]
  signingkey = {{ .Env.git_signing_key }}
  name = Marius Jørgensen
  email = {{ .Env.git_user_email }}
[commit]
  gpgSign = true
[url "git@github.com:"]
  insteadOf = https://github.com/
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[pull]
  rebase = true
[gpg]
  program = {{ .Env.git_gpg_program }}
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
