# Managed by Ansible
# Last updated: {{ ansible_date_time.date }} {{ ansible_date_time.time }}

[user]
  signingkey = {{ git_signing_key }}
  name = Marius Jørgensen
  email = {{ git_user_email }}
[commit]
  gpgSign = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[pull]
  rebase = true
[gpg]
  program = {{ git_gpg_program }}
