# Managed by Ansible
# Last updated: {{ ansible_date_time.date }} {{ ansible_date_time.time }}

{% if ssh is defined %}
{% for host in ssh.config.hosts %}
Host {{ host.name }}
{% if host.options is defined %}
{% for key, value in host.options.items() %}
    {{ key }} {{ value }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

Host *
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
    ServerAliveInterval 60
